@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;700&family=Merriweather:wght@400;700&display=swap');

$font-merriweather-sans: 'Merriweather', serif;
$font-merriweather-sans-serif: 'Merriweather Sans', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-weight: 400;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
    &:active {
        color: green;
    }
    &:visited {
        color: black;
    }
}

link {
    text-decoration: none;
}

link:visited {
    text-decoration: none;
    
}

button {
    border: none;
}

button:active, button:focus {
            outline: none;
        }



/*a:active {
    
}



a:visited {
    color: black;
}*/
.header {
    width: 100%;
    height: 100px;
    //background-color: rgb(40, 44, 52);
    font-size: 22px;
    font-family: $font-merriweather-sans-serif;

    &-container {
        width: 100%;
        height: 100%;
        max-width: 1450px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-logotext {
        font-family: $font-merriweather-sans-serif;
        font-weight: 700;
        font-size: 28px;
        letter-spacing: 2px;
    }

    &-nav {
        letter-spacing: 1.25px;
        ul {
            display: flex;
            list-style-type: none;
        }

        li {
            margin-right: 35px;
        }
    }

    &-burger {
        font-family: $font-merriweather-sans-serif;
        height: 40px;
        padding: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: white;
        border: 1.5px solid black;
        cursor: pointer;
        z-index: 1;

        .burger-line::after,
        .burger-line::before,
        .burger-line {
            display: block;
            position: relative;
            width: 100%;
            height: 2px;
            background-color: #616161;
        }

        .burger-line::before {
            content: '';
            top: -10px;
          }
          
          .burger-line::after {
            content: '';
            top: 9px;
          }
    }
}

.main {
    width: 100%;

    /*&-container {
        width: 100%;
        //height: 100%;
        max-width: 1450px;
        margin: 0 auto;
    }*/
}

.hero {
    width: 100%;
    background-image: url('../../public/img/pexels-photo-356056.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    &-container {
        width: 100%;
        background-color: rgba(18, 13, 15, 0.75);
        /*max-width: 1450px;
        margin: 0 auto;*/
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-text {
        margin: 190px 108px auto;
        text-align: center;
        p:nth-child(1) {
            font-family: $font-merriweather-sans-serif;
            font-size: 80px;
        }
        p:last-child {
            font-family: $font-merriweather-sans-serif;
            font-size: 29px;
            margin-top: 28px;
        }
    }

    &-buttons {
        max-width: 1450px;
        width: 100%;
        margin-top: 110px;
        margin-bottom: 180px;
        display: flex;
        justify-content: center;
                
        button {
            width: 15%;
            height: 70px;
            cursor: pointer;
            color: white;
            font-size: 20px;
            font-family: $font-merriweather-sans-serif;
        }

        button:nth-child(1) {
            margin-right: 25px;
            background-color: rgba($color: #000000, $alpha: 0.25);
            border: 3px solid white;
        }

        button:nth-child(2) {
            background-color: #00897b;
        }
    }
}

.about {
    width: 100%;
    padding-top: 130px;
    padding-bottom: 100px;
    text-align: center;
    &-container {
        max-width: 1450px;
        margin: 0 auto;
    }

    &-text {
        margin-bottom: 100px;
        h2 {
            font-family: $font-merriweather-sans-serif;
            font-size: 40px;
            letter-spacing: 0.75px;
        }
        p {
            width: 60%;
            margin: 40px auto 0 auto;
            font-family: $font-merriweather-sans;
            font-size: 20px;
            line-height: 30px;
            color: #919191;
        }
    }

    &-button {
        font-family: $font-merriweather-sans-serif;
        font-size: 20px;
        
        button {
            width: 15%;
            height: 70px;
            //border: 3px solid black;
            //background-color: white;       
            //background-color: #00897b;
            background-color: #f0f1f1;
            cursor: pointer;
        }

        a {
            color: white;
        }
    }
}

.portfolio {
    width: 100%;
    background-color: #f0f1f1;
    padding-top: 130px;
    padding-bottom: 100px;
    text-align: center;
    &-container {
        max-width: 1450px;
        margin: 0 auto;
    }

    &-text {
        margin-bottom: 100px;
        h2 {
            font-family: $font-merriweather-sans-serif;
            font-size: 40px;
            letter-spacing: 0.75px;
        }
        p {
            width: 60%;
            margin: 40px auto 0 auto;
            font-family: $font-merriweather-sans;
            font-size: 20px;
            line-height: 30px;
            color: black;
        }
    }

    &-button {
        font-family: $font-merriweather-sans-serif;
        font-size: 20px;
        
        button {
            width: 15%;
            height: 70px;
            //border: 3px solid black;
            //background-color: white;
            color: white;       
            background-color: #959595;
            cursor: pointer;
        }

        a {
            color: white;
        }
    }
}

.contact {
    width: 100%;
    padding-top: 130px;
    padding-bottom: 100px;
    text-align: center;
    &-container {
        max-width: 1450px;
        margin: 0 auto;
    }

    &-text {
        margin-bottom: 100px;
        h2 {
            font-family: $font-merriweather-sans-serif;
            font-size: 40px;
            letter-spacing: 0.75px;
        }
        p {
            width: 60%;
            margin: 40px auto 0 auto;
            font-family: $font-merriweather-sans;
            font-size: 20px;
            line-height: 30px;
            color: #919191;
        }
    }

    &-button {
        font-family: $font-merriweather-sans-serif;
        font-size: 20px;
        
        button {
            width: 15%;
            height: 70px;
            //border: 3px solid black;
            //background-color: white;       
            //background-color: #00897b;
            background-color: #f0f1f1;
            cursor: pointer;
        }

        a {
            color: white;
        }
    }
}

.footer {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #d1d3d3;
    font-family: $font-merriweather-sans;
    font-size: 18px;
    text-align: center;
    &-container {
        width: 100%;
        max-width: 1450px;
        margin: 0 auto;
    }

    &-social {
        .social-list {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        .social-link {
            list-style-type: none;
            width: 25px;
            height: 25px;
            border-radius: 5px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 10px;
        }

        .social-link-vk {
            background-image: url('../../public/img/icons/vk.svg');
        }

        .social-link-inst {
            background-image: url('../../public/img/icons/instagram.svg');
        }

        .social-link-fac {
            background-image: url('../../public/img/icons/facebook.svg');
        }

        .social-link-tw {
            background-image: url('../../public/img/icons/twitter.svg');
        }

        .social-link-in {
            background-image: url('../../public/img/icons/linkedin.svg');
        }
    }

    &-text {
        font-size: 18px;
        font-family: $font-merriweather-sans-serif;
    }
}


/// ABOUT PAGE

.about-description {
    padding-top: 30px;
    padding-bottom: 125px;
}

.description-header {
    margin-bottom: 130px;
    line-height: 1.5;
    text-align: center;
    h2 {
        margin: 30px auto 0 auto;
        font-size: 34px;
        font-family: $font-merriweather-sans-serif;
    }

    p {
        width: 40%;
        margin: 0 auto;
        font-size: 18px;
        font-family: $font-merriweather-sans;
    }
}

.description-list {
    width: 80%;
    max-width: 1450px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: space-around;
    .description-item {
        width: 30%;
    }
    .item-header {
        font-family: $font-merriweather-sans-serif;
        font-size: 24px;
        margin: 30px 0 25px 0;
    }
    .item-text {
        font-family: $font-merriweather-sans;
        font-size: 16px;
        width: 70%;
        margin: 0 auto;
    }
}

.about-pricing {
    width: 100%;
    background-color: #f0f1f1;
    font-family: $font-merriweather-sans-serif;
    text-align: center;
    color: #212121;
    &-container {
        width: 100%;
        max-width: 1450px;
        margin: 0 auto;
        padding-top: 130px;
        padding-bottom: 125px;
    }

    .pricing-header {
        margin-bottom: 120px;
        h2 {
            font-size: 36px;
        }
        p{
            width: 50%;
            margin: 35px auto 0px auto;
            font-size: 15px;
            line-height: 1.8;
        }
    }
}

.offers-list {
    display: flex;
    justify-content: space-around;
    .offer {
        width: 30%;
        background-color: #fff;
        &:hover {
            box-shadow: 0px 0px 25px #c8c8c8;
        }
    }

    .offer-header {
        padding-top: 55px;
        padding-bottom: 40px;
        background-color: #3949ab;
        color: #fff;
        P {
            font-size: 30px;
        }
        p:nth-child(1) {
            margin-bottom: 20px;
        }
        sup {
            font-size: 17px;
        }
        span {
            font-size: 16px;
        }
    }

    .offer-description {
        font-family: $font-merriweather-sans-serif;
        font-size: 20px;
        font-weight: 400;
        padding-top: 30px;
        width: 50%;
        margin: 0 auto;
        color: #979797;
        p {
            border-bottom: 1px solid #bfbfbf;
            padding-top: 28px;
            padding-bottom: 16px;
        }
    }

    .offer-button {
        font-size: 24px;
        font-family: $font-merriweather-sans;
        margin-top: 70px;
        margin-bottom: 65px;
        
        
        button {
            width: 50%;
            color: black;
            background-color: white;
            border: 3px solid black;
            padding-top: 25px;
            padding-bottom: 25px;
            cursor: pointer;
        }

        button:active {
            color: white;
            background-color: #00897b;
            border: none;
        }
    }
}

.about-team {
    width: 100%;
    font-family: $font-merriweather-sans-serif;
    text-align: center;
    color: #212121;
    &-container {
        width: 100%;
        max-width: 1450px;
        margin: 0 auto;
        padding-top: 130px;
        padding-bottom: 125px;
    }

    .team-header {
        margin-bottom: 120px;
        h2 {
            font-size: 36px;
        }
        p{
            width: 50%;
            margin: 35px auto 0px auto;
            font-size: 15px;
            line-height: 1.8;
        }
    }

    .team-list {
        display: flex;
        justify-content: space-around;
    }

    .employee {
        width: 28%;
        img {
            object-fit: cover;
        }
        
    }

}






